{% extends 'layout.html' %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <p>This app will help classify birds.</p>
    <p>
        The data was pulled from the The Cornell Lab of Ornithology. It is a collection of about 48,000 images
        and more than 400 species of birds observed in North America. Birds are separated by male, female or
        juvenile since they look quite different. Text files are also included that contains image file names
        and their corresponding labels. So why is bird conservation important? Also, they're basically modern
        dinosaurs.
    </p>

<!--     <form method="post" action="/predict">
        <input type="submit" name="submit_button" value="Test Model">
    </form> -->

<p style="text-align:center">Upload an image and the algorithm will predict the bird!</p>

<form style="text-align:center" action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="image">
    <input type="submit" value="Predict">
</form>

<br>
<br>

<div class="container">
    <table style="width:80%;margin-left:auto;margin-right:auto;padding:1px;border-spacing:5px;" id=table>
        <caption style="padding:7px;">Predicted Probabilities</caption>
        <tr></tr>
        <tr>
            {% for i in labels %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td style="text-align:center">{{ prediction[0][0] }}</td>
            <td style="text-align:center">{{ prediction[0][1] }}</td>
            <td style="text-align:center">{{ prediction[0][2] }}</td>
        </tr>
    </table>
</div>

<br>
<br>
<!-- <img src="{{ filepath }}" alt="HTML5 Icon" width="128" height="128"/> -->

<center><img src="https://i.ytimg.com/vi/5Nj2BngIko0/maxresdefault.jpg" alt="HTML5 Icon" width="128" height="128"/></center>
    
{% endblock %}