{% extends 'layout.html' %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <p>This app will help classify birds.</p>
    <p>
        The data was pulled from the The Cornell Lab of Ornithology. It is a collection of about 48,000 images
        and more than 400 species of birds observed in North America. Birds are separated by male, female or
        juvenile since they look quite different. Text files are also included that contains image file names
        and their corresponding labels. So why is bird conservation important? Also, they're basically modern
        dinosaurs.
    </p>

    <p>Upload an image and the algorithm will predict the bird!</p>

    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="image">
        <input type="submit" value="Submit">
    </form>

{% endblock %}