<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="utf-8">

  <title>Bird Classification</title>
  <meta name="description" content="Bird Classification">
  <meta name="author" content="Cindy Wong">
<!--   <link rel="stylesheet" type="text/css" href="static/css/bird_app.css"/> -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
<!--   <link rel="stylesheet" type="text/css" href="static/css/bird_app.css"/> -->
  <script src="static/node_modules/chart.js/dist/Chart.bundle.js"></script>
    
</head>
    
<body>
<!--     <center><img src="images/birds_background.jpg" alt="HTML5 Icon" width="128" height="128"/></center> -->
    <h1 style="color:forestgreen; text-align:center;" >Birds</h1>
    <hr>
    {% block content %}{% endblock %}
    
</body>

</html>