<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bird Classification</title>
  <meta name="description" content="Bird Classification">
  <meta name="author" content="Cindy Wong">
  <script src="static/node_modules/chart.js/dist/Chart.bundle.js"></script>
  <script src="static/css/bird_app.css"></script>
</head>

  <style>
      body {
          /* Here is how you can add bg image */
          background: "/images/birds_background.jpg";
          height: 100%;
          /* how you can scale image properly while page resize */
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
      }
  </style>
    
<body>
    <h1 style="color:forestgreen">Birds</h1>
    <hr>
    {% block content %}{% endblock %}
    
</body>

</html>