{% extends 'layout.html' %}
{% block body %}

<div>
    <table style="width:80%;margin-left:auto;margin-right:auto;padding:1px;border-spacing:5px;" id=table>
        <caption style="padding:7px;">Predicted Probabilities</caption>
        <tr> </tr>
        <tr>
            {% for i in labels[:8] %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for i in prediction[:8] %}
            <td style="text-align:center">{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for i in labels[8:16] %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for i in prediction[8:16] %}
            <td style="text-align:center">{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for i in labels[16:24] %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for i in prediction[16:24] %}
            <td style="text-align:center">{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for i in labels[24:32] %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for i in prediction[24:32] %}
            <td style="text-align:center">{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for i in labels[32:39] %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for i in prediction[32:39] %}
            <td style="text-align:center">{{ i }}</td>
            {% endfor %}
        </tr>
    </table>
</div>


{% endblock %}